html {
  background-color: #242424;
  color: #d2d2d2;
  font-size: 14pt;
  font-family: sans-serif;
}

p {
  line-height: 1.5em;
}

main {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 43em;
}

img.blogimage {
  max-width: 100%;
}

time.blogdate {
  color: #8f8f8f;
}
