html {
  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

body {
  transition: color .5s, background-color .5s;
}

body.dark-mode {
  color: #e2e2e2;
  background-color: #242424;
}

body.dark-mode a {
  color: #0970d9;
}

body.light-mode {
  color: #242424;
  background-color: #e2e2e2;
}

p {
  line-height: 1.5em;
}

main {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 43em;
}

img.blogimage {
  max-width: 100%;
}

time.blogdate {
  color: #8f8f8f;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

footer a {
  margin: 0 5%;
}

.button {
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.button.dark-mode {
  color: #242424;
  background-color: #e2e2e2;
}

.button.light-mode {
  color: #e2e2e2;
  background-color: #242424;
}

.button.dark-light {
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 120px;
}
