html {
  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

body {
  transition: color .5s, background-color .5s;
}

body a {
  transition: color .5s;
}

body.dark-mode {
  color: #e2e2e2;
  background-color: #242424;
}

body.dark-mode a {
  color: #1980e9;
}

body.light-mode {
  color: #242424;
  background-color: #e2e2e2;
}

p, li {
  line-height: 1.5em;
}

main {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 43em;
}

img.blogimage {
  max-width: 100%;
}

time.blogdate, span.author {
  color: #8f8f8f;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer nav {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: .25em;
}

footer a {
  margin: 0 5%;
}

dl {
  max-width: 21em;
}

dl div.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

button {
  border: none;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .875em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color .5s, color .5s;
  flex-grow: 0;
}

.dark-mode button{
  color: #242424;
  background-color: #e2e2e2;
}

.dark-mode button:hover {
  background-color: #b2b2b2;
}

.light-mode button {
  color: #e2e2e2;
  background-color: #242424;
}

.light-mode button:hover {
  background-color: #545454;
}

button#dark-light-button {
  width: 10em;
  margin: 1em;
}
